<html>
  <head>
    <title>Clarifai Custom Training JS Library Example</title>
  </head>
  <body>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">
    <link rel="stylesheet" href="css.css">

    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <!-- Latest - compiled and - minified - JavaScript - -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script type="text/javascript" src="clarifai-basic.js"></script>
    <script type="text/javascript" src="example.js"></script>
    <script type="text/javascript" src="app/controllers.js"></script>

    <!-- content -->
    <div class="container-fluid" ng-app="clarifai">
      <div ng-controller="ImagesListCtrl">
        <button ng-click="loginInstagram()" class="btn btn-primary btn-lg">
          login instagram
        </button>
        <button ng-click="filterFood()" class="btn btn-primary btn-lg">
          {{foodToggle}}
        </button>
        <button ng-click="filterHealthy()" class="btn btn-primary btn-lg">
          {{healthyToggle}}
        </button>
        <button ng-click="filterTasty()" class="btn btn-primary btn-lg">
          {{tastyToggle}}
        </button>
        <div ng-repeat="value in images track by $index">
          <div class="col-xs-2">
            <div class="thumbnail">
              <img ng-src="{{value[0]}}" width="150" height="150" ng-mouseover="showDetail($index)"/>
              <div ng-show='showTags.i{{$index}}' class=".box cols-md-2" style="z-index: 1;
                  position: relative">
                {{value[1].join(',\n') }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
