<html>
  <head>
    <title>Clarifai Custom Training JS Library Example</title>
  </head>
  <body>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">
    <link rel="stylesheet" href="css.css">
    <link rel="stylesheet" href="lib/angular-chart.min.css">

    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <!-- Latest - compiled and - minified - JavaScript - -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script type="text/javascript" src="clarifai-basic.js"></script>
    <script type="text/javascript" src="example2.js"></script>
    <script type="text/javascript" src="app/controllers.js"></script>
    <script type="text/javascript" src="lib/Chart.min.js"></script>
    <script type="text/javascript" src="lib/angular-chart.min.js"></script>

    <!-- content -->
    <div class="container-fluid" ng-app="clarifai">
      <div ng-controller="ExampleController">
        <button ng-click="trainModel()" class="btn btn-primary btn-lg">
          Train Algorithm 
        </button>
        <a class="btn btn-default" href="example.html" role="button">Back to Images site</a>
        <div class="spinner bg-primary" ng-show="loading">Back Off! I am doing Science!!!</div>
        <div class="spinner bg-primary" ng-show="loading">Back Off! I am doing Science!!!</div>
        <div class="spinner bg-primary" ng-show="loading">Back Off! I am doing Science!!!</div>
        <div class="spinner bg-primary" ng-show="loading">Back Off! I am doing Science!!!</div>
        <form name="myForm">
          <label>URL:
            <input type="text" name="input" ng-model="example.text"
                   ng-pattern="example.word" required ng-trim="false">
          </label>
          <button ng-click="sendRequest(example.text)" class="btn
              btn-success">
            Healhty or Tasty
          </button>
          <div role="alert">
            <span class="error" ng-show="myForm.input.$error.required">
              Required!</span>
            <span class="error" ng-show="myForm.input.$error.pattern">
              URLs only!</span>
          </div>
          <tt>Picture = {{example.text}}</tt><br/>
        </form>
        <div class="thumbnail other-background">
          <div class="row">
            <div class="col-xs-12 col-md-8">
              <img ng-src="{{example.text}}" style="max-width: 700px;
                  max-height: 700px"/>
            </div>
            <div class="col-xs-6 col-md-4">
              <canvas id="pie" class="chart chart-pie" chart-data="data"
                  chart-labels="labels" chart-colours="colours"
                  chart-legend="true"></canvas>
              <div class="bg-danger" ng-show="!isItFood">
                <span class="glyphicon glyphicon-eye-open"></span>
                NOT LIKELY TO BE FOOD!
              </div>
              <canvas id="polar-area" class="chart chart-polar-area"
                  chart-data="dataIngredients" chart-labels="labelIngredients"
                  chart-legend="true"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
